/* Usei o bg para puxar a imagem de fundo e fixar ela no site */
.bg{
    color:	#000000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("hFundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  
}
/*Fiz a estilização do botão usando essa configuração abaixo*/
.btn{
    border:1px solid black;
    padding: 15px;
    border-radius: 20px;
    text-transform: uppercase;
   font-size: 15px;
   cursor: pointer;
}
/* usando o btn hover o botão muda de cor*/
.btn:hover{
    background-color: red;
    color: seashell;
    transition: 0.7s;
}
